.App {
    width: 40%;
    margin: 2em auto; /*Centralizar*/
    background-color: #394049;
    border-radius: 5px;
    color: #fff;
}

.todo-header {
    padding: 0.5em;
    border-bottom: 1px solid #2C3035;
    text-align: center;
}

.todo-header h1 {
    margin: 0; /* Tirar margin do nosso titulo para encaixar no layout.*/
}

.forms-todo {
    padding: 1em; /* Espaçamento interno em todo container do formulário*/
    margin: 0 2em; /*A borda um pouco maior que o conteudo do formulário*/
    border-bottom: 1px solid #2C3035;
}

.forms-todo h2,
.list-todo h2 {
    text-align: center;
    margin-top: 0;
}


.forms-control {
    display: flex;
    flex-direction: column; /*inputLabel em cima e input em baixo.*/
    margin-bottom: 1em; /* Afastar um input do outro*/
}


.forms-control label {
    font-weight: bold;
    font-size: .7em; /*Deixa o texto menor*/
    margin-bottom: .4em; /*Afastar a label do input*/
}


.forms-control input {
    border: 1px solid #222;
    border-radius: 2px; /*Quebrar um pouco a borda*/ 
    background-color: #2C3035;
    padding: .5em;
    color: #dfdfdf;
}

.forms-control .describe {
    height: 10em;
}

.buttonMd1 { /*Como personalizar o botão*/
    background-color: #2E8B57;
    color: #eee;
    display: block; /*Ele preencher a largura toda*/
    width: 50%; /*Deixar o botão bem grande */
    border: 1px solid #222; /*borda escura em volta do input*/ 
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
    margin: 2em auto; /*Centralizar*/
    font-weight: bold;

}


.buttonMd2 { /*Como personalizar o botão*/
    background-color: ;
    display: block; /*Ele preencher a largura toda*/
    width: 50%; /*Deixar o botão bem grande */
    border: 1px solid #222; /*borda escura em volta do input*/ 
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
    margin: 2em auto; /*Centralizar*/
    font-weight: bold;

}

.list-todo {
    padding: 0 1em 2em;
    margin: 1em 2em;
}

.list-todo h2 { /*Titulos*/
    margin-bottom: 0;
}

.list-todo p { /*paragrafo de tarefas vazias*/
    text-align: center;
}

.todo { /* Cada item individual*/
    border-bottom: 1px solid #444;
    padding: 1em 0;
    background-color: #222;
    width: 20em;
    margin: 2em auto;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}


.todo h3 {
    margin-bottom: .5em;   
}

.todo h6 {
    color: rgb(0,128,128);
}


.todo-done { /*Tarefa completa */
    text-decoration: line-through; ;/* Corta o texto com uma linha*/
    color: green;
}


.todo p { 
    text-align: center;
    font-style: italic;
    font-size: .7em;
    margin-bottom: 1.5em;
}

.pDesc {
    display: block;
    word-break: break-word;
    padding: 0 5px;
} 

.todo svg { /*SVG são os icones*/
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
}

.todo svg:hover {
    /*color: rgb(240, 98, 146);*/
    color: green;
}


.todo .teste:hover {
    color: red;
}


.card {
    width: 20em;
    height: 13em;
    background-color: gray;
}